/*Universal styling*/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-color: #e0e0e0;
 }

/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav .logo {
  padding: 8px 8px 8px 32px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: #e71e1e;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

#flex {
  display: flex;
  flex-flow: row, wrap;

}




/*Text stylings*/

.Display1 {
  font-family: 'mixta-didone-alt', serif;
  font-weight: 700;
  font-size: 4em;
  margin: 4em 0 0 3em;
}

.Display2 {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.boldText {
  color: #3cd86b;
}

.lightText {
  font-weight: 500;
  color: #e71e1e;
}

.Subhead {
  font-weight: 100;
  font-size: 3em;
  color: #666666;
  padding: 2px;
  margin-left: 3.9em;
}

.Subhead2 {
  text-align: center;
  font-weight: 100;
  padding: 20px;
  margin: 0.5em;
  color: #666666;
}

.para {
  font-size: 2.5em;
  padding: 20px 40px;
  margin: 2em 4em;
}

.para1 {
  font-weight: 100;
  font-size: 1.3em;
  padding: 20px;
  margin-left: 4em;
  margin-right: 4em;;
}

.hero-text {
  text-align: center;
}

/* Buttons*/

.signupBtn {
  padding: 25px 60px;
  background-color: #e71e1e;
  font-size: 1.5em;
  color: #f1f1f1;
  border-radius: 4px;
 box-shadow: 4px 3px 2px rgba(0, 0 ,0, 0.2);
 margin-left: 8em;
}

body, html {
  height: 100%;
}

.book-photo {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding-left: 150px;
  padding-bottom: 25px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a .sidenav .logo {font-size: 18px;}
}
@media screen and (max-width: 400px) {
  #flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}